{% extends 'base.html.twig' %}

{% block title %}Seznam kontaktů{% endblock %}
{% block heading %}Seznam kontaktů{% endblock %}

{% block messages %}
    <div class="messages">
        {% for messages in allMessages %}
            {% for message in messages %}
                <div>
                    <emph>
                        {{ message }}
                    </emph>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block body %}

<table>
    <tr>
        <th>
            jméno
        </th>
        <th>
            příjmení
        </th>
        <th>
            telefon
        </th>
        <th>
            email
        </th>
        <th>
            poznámka
        </th>
        <th colspan="2"></th>
    </tr>
    {% for contact in contacts %}
        <tr>
            <td>
                {{ contact.firstName }}
            </td>
            <td>
                {{ contact.lastName }}
            </td>
            <td>
                {{ contact.formattedPhone }}
            </td>
            <td>
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </td>
            <td>
                {{ contact.note }}
            </td>
            <td>
                <a href="{{ path('edit', {'identifier': contact.identifier }) }}">upravit</a>
            </td>
            <td>
                <a href="{{ path('remove', {'id': contact.id }) }}">odstranit</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{{ path('add') }}">Přidat kontakt</a>
{% endblock %}
