<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Kontakty{% endblock %} | Adresář</title>
    </head>
    <body>
        <h1><a href="{{ path('homepage') }}">Správce kontaktů</a></h1>
        {% block messages %}{% endblock %}
        <h2>{% block heading %}{% endblock %}</h2>

        {% block body %}{% endblock %}
    </body>
</html>
